<h1> <%= @movie.title %> </h1>

<div>
  <img src="<%= @movie.image_url %>" width="500">
  <p><%= @movie.description %></p>
  <p><%= @movie.year %></p>
  <p><%= @movie.duration %></p>
  <p><a href="http://localhost:3000/movies">Back to Index</a></p>
</div>
